html {
  scroll-behavior: smooth;
}
html .top-btn {
  transition: all 0.3s ease-out;
  opacity: 0;
  visibility: hidden;
}
html .top-btn i {
  font-size: 18px;
}

.header__bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 515px;
  position: absolute;
  z-index: 1;
}
.header .navbar-sticky {
  position: sticky;
  z-index: 99;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.header .navbar-sticky .nav-wrapper {
  padding-right: 20px;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.header .navbar-fixed {
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.header .navbar-fixed .nav-wrapper {
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.header .navbar li a {
  position: relative;
  color: #3d4451;
  padding: 0;
  margin: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.header .navbar li a:hover {
  background-color: transparent;
}
.header .navbar li a:hover span {
  width: 100%;
  transition: width 0.15s linear 0s;
}
.header .navbar li a span {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 0;
  height: 3px;
  border-radius: 10px;
  transition: width 0.15s linear 0s;
}
.header .navbar .no-border {
  box-shadow: none;
  border: 0;
}
.header__container {
  max-width: 960px;
  position: relative;
  z-index: 2;
  margin: 50px auto 0;
}
.header .about {
  padding: 0;
}
.header .about__box {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.header .about__profile {
  padding: 57px 50px 15px;
}
.header .about__profile-image img {
  width: 100%;
  height: auto;
}
.header .about__profile-info {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}
.header .about__profile-preword span {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
  position: relative;
  max-width: 100px;
}
.header .about__profile-preword span::before {
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 5px;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent;
  border-left-color: #8dc24c;
}
.header .about__profile-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  margin: 15px 0 5px;
}
.header .about__profile-title span {
  font-weight: 300;
}
.header .about__profile-position {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  margin: 0;
}
.header .about__profile-position::after {
  content: "";
}
.header .about__profile-list .title {
  color: #333;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.header .about__profile-list .cont {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #717171;
  margin-bottom: 10px;
}
.header .about__profile-list .cont a {
  color: inherit;
  text-decoration: none;
}
.header .about__social-list li a {
  width: 45px;
  height: 45px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  color: #fff;
  transition: transition, background-color 0.25s linear 0s;
}
.header .about__social-list li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.header .about__social-list li a i {
  color: #fff;
  line-height: 45px;
}
.header .intro {
  margin-top: 2em;
}
.header .intro__download_cv a {
  font-weight: 600;
}
.header .intro__download_btn {
  color: #3d4451;
  background-color: #eee;
}
.header .intro__article {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8;
}

main .container {
  max-width: 960px;
}
main .skills__card {
  border-top: 5px solid #8bc34a;
  padding: 2rem;
}
main .skills__brand-logo {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 20px;
}
main .skills__brand-logo img {
  max-height: 60px;
  height: 50px;
  width: auto;
}
main .experience {
  overflow: hidden;
  position: relative;
}
main .experience .timeline {
  padding: 0;
}
main .experience .timeline__bar {
  width: 4px;
  height: 3800px;
  opacity: 0.3;
  margin-left: -1px;
  margin-top: 30px;
  position: absolute;
  left: 50%;
  border-radius: 2px;
}
main .experience .timeline__box {
  position: relative;
  margin-bottom: 1rem;
}
main .experience .timeline__box-left {
  padding-left: 0;
}
main .experience .timeline__box-left .timeline__card {
  margin-right: 1.75rem;
}
main .experience .timeline__box-left .timeline__dot {
  right: -0.4rem;
}
main .experience .timeline__box-right {
  padding-right: 0;
}
main .experience .timeline__box-right .timeline__card {
  margin-left: 1.75rem;
}
main .experience .timeline__box-right .timeline__dot {
  left: -0.25rem;
}
main .experience .timeline__arrow {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  background-color: white;
  top: 4rem;
  z-index: 2;
  transform: rotate(45deg);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
main .experience .timeline__arrow::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: white;
  z-index: 100;
  display: inline-block;
  transform: rotate(45deg);
}
main .experience .timeline__arrow-left {
  right: 1.5rem;
}
main .experience .timeline__arrow-left:after {
  top: 11px;
  right: 0;
}
main .experience .timeline__arrow-right {
  left: 1.5rem;
}
main .experience .timeline__arrow-right:after {
  bottom: 11px;
  left: 0;
}
main .experience .timeline__dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #8bc34a;
  border-radius: 50%;
  top: 4.7rem;
  z-index: 9;
}
main .experience .timeline__card {
  padding: 1.6rem;
  margin: 0.5rem 0 1rem;
}
main .experience .timeline__second {
  margin-top: 60px;
}
main .experience .timeline__date {
  font-weight: 600;
  text-transform: uppercase;
}
main .experience .timeline__company {
  font-size: 1.75rem;
  text-transform: uppercase;
  margin: 1.5rem 0 1rem 0;
}
main .experience .timeline__position {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 1rem 0 0.9rem 0;
}
main .experience .timeline__reveal-title {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
}
main .experience .timeline__description {
  font-size: 1rem;
}
main .experience .timeline__description li {
  padding: 0.5rem 0;
}
main .experience .timeline__btn-more i {
  font-size: 1.3rem;
  padding-top: 2px;
}

footer .container {
  max-width: 960px;
}
footer .icon__link {
  width: 45px;
  height: 45px;
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  transition: transition, background-color 0.25s linear 0s;
}
footer .icon__link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
footer .icon__link i {
  line-height: 45px;
}

.green-border-top {
  border-top: 5px solid #8bc34a;
}

@media only screen and (max-width: 601px) {
  main .experience .timeline__second {
    margin-top: 0;
  }
  main .experience .timeline__box-left {
    padding: 0;
  }
  main .experience .timeline__box-left .timeline__card {
    margin-right: 0;
  }
  main .experience .timeline__box-right {
    padding: 0;
  }
  main .experience .timeline__box-right .timeline__card {
    margin-left: 0;
  }
}

/*# sourceMappingURL=main_style.css.map */
